{% extends "base.html" %}
{% block title %}
    Atualizar
{% endblock title %}
{% block body %}
    <form action="{% url 'account_update' account.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" value="{{ account.first_name }}">
        <input type="text" name="last_name" value="{{ account.last_name }}">
        <input type="email" name="email" value="{{ account.email }}">
        <label for="role">Defina o cargo:</label>
        <select id="roles" name="role" required>
            {% for value, label in form.role.field.choices %}
                <option value="{{ value }}"
                        {% if value == account.role %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <input type="password" name="password" value="">
        <input type="password" name="confirm_password" value="">
        <input type="submit" value="Alterar">
    </form>
{% endblock body %}
