{% extends "base.html" %}

{% block title %} Login {% endblock title %}

{% block body %}

    <a href="{% url 'register' %}">Cadastro</a>
    <br />

    {% if messages %}
        {% for message in messages %}
            <span>{{message}}</span>
        {% endfor %}
    {% endif %}

    <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
        <input type="email" placeholder="exemplo@email.com" name="email" required />
        <br />
        <input type="password" placeholder="senha super secreta" name="password" required />
        <br />
        <input type="submit" value="Logar" />
    </form>

{% endblock body %}
