{% extends "base.html" %}
{% load static %}
{% block title %}
    List
{% endblock title %}
{% block body %}
    <form method="GET">
        {% csrf_token %}
        <select name="field" id="filter-field">
            <option value="name"{% if field == "name" %}selected{% endif %}>Nome</option>
            <option value="category"{% if field == "category" %}selected{% endif %}>Categoria</option>
            <option value="qte"{% if field == "qte" %}selected{% endif %}>Quantidade</option>
            <option value="min_qte"{% if field == "min_qte" %}selected{% endif %}>Quantidade Mínima</option>
        </select>
        <div id="filter-inputs">
            <input type="text"
                   name="value"
                   id="value-text"
                   value="{{ value|default:'' }}" />
            <select name="value_category" id="value-category" style="display:none">
                {% for category in categories %}
                    <option value="{{ category.name }}"
                            {% if value == category.name %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Filtrar" />
    </form>
    <table>
        <thead>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
        </thead>
        <tbody>
            <br>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.qte }}{{ ingredient.measure }}</td>
                    <td>
                        <a href="{% url 'ingredient_update' ingredient.id %}">Editar</a>
                    </td>
                    <td>
                        <a href="{% url 'ingredient_delete' ingredient.id %}">Remover</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'stock/js/toggle_category.js' %}"></script>
{% endblock body %}
