{% extends "base.html" %}
{% block title %}
    List
{% endblock title %}
{% block body %}
    <form method="GET">
        {% csrf_token %}
        <input type="text" name="value" />
        <select name="field">
            <option value="name">Nome</option>
            <option value="category">Categoria</option>
            <option value="qte">Quantidade</option>
            <option value="min_qte">Quantidade Mínima</option>
            <option value="price">Preço</option>
            <option value="active">Status</option>
        </select>
        <input type="submit" value="Filtrar" />
    </form>
    <table>
        <thead>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Status</th>
        </thead>
        <tbody>
            <br>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.qte }} {{ ingredient.measure_unit }}</td>
                    <td>{{ ingredient.price }}</td>
                    <td>{{ ingredient.active }}</td>
                    <td>
                        <a href="{% url 'ingredient_update' ingredient.id %}">Editar</a>
                    </td>
                    <td>
                        <a href="{% url 'ingredient_delete' ingredient.id %}">Remover</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
