{% extends "base.html" %}
{% block title %}
    Atualizar
{% endblock title %}
{% block body %}
    <form action="{% url 'ingredient_update' ingredient.id %}" method="POST">
        {% csrf_token %}
        <label for="name">Nome:</label>
        <input type="text" name="name" value="{{ ingredient.name }}" />
        <label for="category">Categoria:</label>
        <select name="category">
            {% for category in categories %}
                <option value="{{ category.id }}"
                        {% if ingredient.category.id == category.id %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <label for="qte">Quantidade:</label>
        <input type="number" name="qte" value="{{ ingredient.qte }}" min="0" />
        <label for="min_qte">Quantidade Mínima:</label>
        <input type="number" name="min_qte" value="{{ ingredient.min_qte }}" min="0" />
        <select name="measure">
            {% for value, label in measure_choices %}<option value="{{ value }}">{{ label }}</option>{% endfor %}
        </select>
        <button type="submit">Alterar</button>
    </form>
{% endblock body %}
