{% extends "base.html" %}
{% block title %}
    Create
{% endblock title %}
{% block body %}
    {% if messages %}
        {% for message in messages %}<span>{{ message }}</span>{% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Pizza ..." name="name" />
        <label for="ingredients">Ingredientes:</label>
        <select name="ingredients" multiple>
            {% for ingredient in ingredients %}<option value="{{ ingredient.id }}">{{ ingredient.name }}</option>{% endfor %}
        </select>
        <input type="submit" value="Cadastrar" />
    </form>
{% endblock body %}
