{% extends "base.html" %}
{% block title %}
    Detalhar Produto
{% endblock title %}
{% block body %}
    <div class="main-content">
        <div class="detail-content">
            <h2 class="detail-title">Detalhes do Produto</h2>
            <div class="space-y-4 text-gray-800 dark:text-gray-300">
                <div>
                    <span class="detail-text">Nome:</span>
                    <span class="text-lg">{{ product.name }}</span>
                </div>
                <div>
                    <span class="detail-text">Preço:</span>
                    <span class="text-lg">{{ product.price }}</span>
                </div>
                <div>
                    <span class="detail-text mb-2">Ingredientes:</span>
                    <div class="overflow-x-auto">
                        <table class="detail-table">
                            <thead class="detail-thead">
                                <tr>
                                    <th class="detail-th">Nome</th>
                                    <th class="detail-th">Quantidade</th>
                                </tr>
                            </thead>
                            <tbody class="detail-tbody">
                                {% for  pi in products_ingredients %}
                                    <tr>
                                        <td class="px-4 py-2">{{ pi.ingredient.name }}</td>
                                        <td class="px-4 py-2">{{ pi.quantity }} {{ pi.ingredient.get_measure_display }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="detail-buttons">
                    <a href="{% url 'product_list' %}" class="gray-button">Voltar para Lista</a>
                    <a href="{% url 'product_update' product.id %}" class="yellow-button">Editar</a>
                    <a href="{% url 'product_delete' product.id %}" class="red-button">Deletar</a>
                </div>
            </div>
        </div>
    {% endblock body %}
