{% extends "base.html" %}
{% block title %}
    Detalhar
{% endblock title %}
{% block body %}
    <p>Nome: {{ product.name }}</p>
    <p>Ingredientes:</p>
    <table>
        <thead>
            <tr>
                <th>Ingrediente</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for pi in products_ingredients %}
                <tr>
                    <td>{{ pi.ingredient.name }}</td>
                    <td>{{ pi.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
