{% extends "base.html" %}
{% block title %}
    List
{% endblock title %}
{% block body %}
    <form method="GET">
        <label for="start_date">Data Inicial:</label>
        <input type="date" name="start_date">
        <label for="end_date">Data Final:</label>
        <input type="date" name="end_date">
        <button type="submit">Filtrar</button>
    </form>
    <table>
        <thead>
            <th>Tipo</th>
            <th>Data</th>
            <th>Responsável</th>
            <th></th>
        </thead>
        <tbody>
            <br />
            {% for movement in movements %}
                <tr>
                    <td>{{ movement.get_type_display }}</td>
                    <td>{{ movement.date }}</td>
                    <td>{{ movement.user }}</td>
                    <td>
                        <a href="{% url 'movement_delete' movement.id %}">Remover</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
