{% extends "base.html" %}
{% block title %}
    Atualizar
{% endblock title %}
{% block body %}
    <form action="{% url 'movement_update' movement.id %}" method="POST">
        {% csrf_token %}
        <label for="product">Produto:</label>
        <select name="product">
            {% for product in products %}
                <option value="{{ product.id }}"
                        {% if product.name == movement.product %}selected{% endif %}>{{ product.name }}</option>
            {% endfor %}
        </select>
        <select name="type">
            <option value="inflow" {% if movement.type == "inflow" %}selected{% endif %}>Entrada</option>
            <option value="outflow"
                    {% if movement.type == "outflow" %}selected{% endif %}>Saida</option>
        </select>
        <input type="number" name="amount" value="{{ movement.amount }}" />
        <textarea name="commentary">{{ movement.commentary }}</textarea>/>
        <input type="submit" value="Alterar" />
    </form>
{% endblock body %}
