{% extends "base.html" %}
{% block title %}
    Detalhar
{% endblock title %}
{% block body %}
    {% if movement.transaction_type == "inflow" %}
        <p>Responsável: {{ movement.user }}</p>
        <p>Tipo: Entrada</p>
        <label for="ingredients">Ingredientes:</label>
        {% for ingredient in movement.ingredients.all %}
            <p>{{ ingredient.name }}: {{ ingredient.quantity }}{{ ingredient.measure_unit }}</p>
        {% endfor %}
        <p>Data: {{ movement.date }}</p>
        <p>Comentário: {{ movement.commentary }}</p>
    {% else %}
        <p>Responsável: {{ movement.user }}</p>
        <p>Tipo: Saida</p>
        <p>Produto: {{ movement.product }}</p>
        <p>Quantidade: {{ movement.amount }}</p>
        <p>Data: {{ movement.date }}</p>
        <p>Comentário: {{ movement.commentary }}</p>
    {% endif %}
{% endblock body %}
