{% extends "base.html" %}
{% block title %}
    Detalhar
{% endblock title %}
{% block body %}
    <p>Responsável: {{ movement.user }}</p>
    <p>Tipo: {{ movement.get_type_display }}</p>
    <p>Data: {{ movement.date }}</p>
    {% if movement.type == "in" %}
        <p>Ingredientes:</p>
        {% for ingredient in movement.ingredients.all %}
            <p>{{ ingredient.name }}: {{ ingredient.quantity }}{{ ingredient.measure }} - {{ ingredient.price }}</p>
        {% endfor %}
    {% else %}
        {% for product in movement.products.all %}
            <p>{{ product.name }}: {{ product.quantity }} - {{ product.price }}</p>
        {% endfor %}
    {% endif %}
    <p>Total: {{ movement.value }}</p>
    <p>Comentário: {{ movement.commentary }}</p>
{% endblock body %}
