{% extends "base.html" %}
{% block title %}
    Detalhar
{% endblock title %}
{% block body %}
    {% if movement.transaction_type == "inflow" %}
        <p>Nome: {{ movement.user }}</p>
        <p>Ingredientes:</p>
        {% for ingredient in ingredients %}
            <p>{{ ingredient.ingredient.name }}: {{ ingredient.quantity }}{{ ingredient.ingredient.measure_unit }}</p>
        {% endfor %}
        <p>Tipo: Saida</p>
        <p>Data: {{ movement.date }}</p>
        <p>Comentário: {{ movement.commentary }}</p>
    {% else %}
        <p>Nome: {{ movement.user }}</p>
        <p>Produto: {{ movement.product }}</p>
        <p>Tipo: Saida</p>
        <p>Data: {{ movement.date }}</p>
        <p>Comentário: {{ movement.commentary }}</p>
    {% endif %}
{% endblock body %}
