{% extends "base.html" %}
{% block title %}
    Deletar Movimentação
{% endblock title %}
{% block body %}
    <div class="main-container">
        <div class="delete-container">
            <h2 class="delete-title">Confirmar Exclusão</h2>
            <p class="text-gray-700 dark:text-gray-300 mb-6">
                Tem certeza que deseja excluir a movimentação <strong>{{ movement.date|date:"d/m/Y H:i:s" }}</strong>?
                <br>
                <span class="text-red-600 font-semibold">Essa ação não poderá ser desfeita.</span>
            </p>
            <form method="POST" class="space-y-6">
                {% csrf_token %}
                <div>
                    <label for="password" class="delete-text">Confirmar com senha:</label>
                    <input type="password" name="password" required class="delete-field" />
                </div>
                <div class="delete-buttons">
                    <a href="{% url 'movement_list' %}" class="gray-button">Cancelar</a>
                    <button type="submit" class="red-button">Confirmar Exclusão</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
